.grid-container{
    display:grid;
    grid-template-columns: 300px 300px 300px 300px ;
    column-gap: 25px;
    row-gap: 25px;
    margin:35px;
    padding:10px;
    text-align: left;

}
.title{
    display:flex;
    align-items:center;
    margin-bottom:20px
}
.subtitle{
    margin-left: 20px;
}

img{
    border-radius:50%;
}

.item-1{
    grid-column:1/3;
    grid-row: 1/2;

    background-color: hsl(263, 55%, 52%);
    border-radius: 2%;
    padding:30px;
    background-image: url(./../../assets/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position:80% 0%;
    background-size:22%;
}
.item-2{
    grid-column:3/4;
    grid-row: 1/2;

    background-color: hsl(217, 19%, 35%);
    border-radius: 2%;
    padding:30px;
}
.item-3{
    grid-column:1/2;
    grid-row: 2/3;

    background-color:hsl(0, 0%, 100%);
    color: black;
    border-radius: 2%;
    padding:30px;
}
.item-4{
    grid-column:2/4;
    grid-row: 2/3;

    background-color: hsl(219, 29%, 14%);
    border-radius: 2%;
    padding:30px;
}
.item-5{
    grid-column:4/5;
    grid-row: 1/3;

    background-color:hsl(0, 0%, 100%);
    color: black;
    border-radius: 2%;
    padding:30px;
}

.name{
    text-decoration: bold;
    font-size:15px;
}
.position{
    font-size:13px;
    margin-bottom: 10px;
}
.highlight{
    font-size:22px;
    margin-bottom: 20px;
}
.test{
    font-size:14px;
}